<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head.ejs') %>
  </head>
  <body>
    <%- include('includes/nav.ejs') %>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <h2 class="text-center">Page Not Found</h2>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
    <%- include('includes/end.ejs') %>
  </body>
</html>
